{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Uploading Page</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css'>
<link rel="stylesheet" href="{% static 'upload/style.css' %}">
<link href="{% static 'landing/img/favicon.png' %}" rel="icon">
<link href="{% static 'landing/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="{% static 'landing/vendor/aos/aos.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
<link href="{% static 'landing/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="{% static 'landing/css/style.css' %}" rel="stylesheet">

</head>

<body>

<!-- ======= Header ======= -->
<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">InvCure</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="{% static 'landing/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <!-- <li><a class="nav-link scrollto" href="/">About</a></li> -->
          <li><a class="nav-link scrollto" href="/">Services</a></li>
          <li><a class="nav-link scrollto" href="/">Team</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="/">Contact</a></li>
          <li><a class="getstarted scrollto" href="/upload">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- Latest compiled and minified CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>  
      <div class="center">
        <!-- file drag drop area -->
        <div class="col-md-6 col-md-offset-3 text-center">
          <form class="box" method="post" action="" enctype="multipart/form-data">
            <div class="box__input">
              <input class="box__file" type="file" style="visibility: hidden;" name="files[]" id="file" data-multiple-caption="{count} files selected" multiple />
              <div id="arrow">
                <i class="fa fa-arrow-circle-down fa-3x" aria-hidden="true"></i>
              </div>
              <label for="file" style="margin-top: 100px;"><strong><u>Choose a file</u></strong> <span class="box__dragndrop"> or drop the file here</span>.</label>
              <div>
                <button class="btn btn-primary" style="background-color: #00529b;">Submit</button>
              </div>
              <div>
                <button class="btn btn-primary" style="background-color: #6c7e8d;">Re-Run</button>
              </div>
            </div>
            <div class="box__uploading">Uploading&hellip;</div>
            <div class="box__success">Done!</div>
            <div class="box__error">Error! <span></span></div>
          </form>
        </div>
        <!-- file drag drop area -->
      </div>
    <!-- partial -->
      <script src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
    <script  src="{% static 'upload/upload.js' %}"></script>

</body>
</html>
